
 
    
      
  
      <div class="modal-header">						
        <label class="modal-title"> &nbsp; <i class="fas fa-notes-medical fa-2x" style="color: gold"></i> &nbsp; Blood Chem</label>
        <button type="button" class="close" (click)="dismissModal()" aria-hidden="true">&times;</button>
      </div>
      <div id="content" class="scroll">
      <div class="bc-switch">
        <ion-segment [(ngModel)]="status">
            <ion-segment-button class="sss" value="on">
                <ion-label>Add</ion-label>
            </ion-segment-button>
            <ion-segment-button class="" value="up">
                <ion-label>View <sup><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-info">{{sorttest.length}}</span></sup></ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [hidden]="status != 'on'">
      
      <div class="modal-body">	
        <div class="form-group">
          <label>Date</label>
          <input type="datetime-local" class="form-control" [(ngModel)]="date" required>
        </div>				
        <div class="form-group">
      
       <div class="row">  
         <div class="col"><b>Patient Name: </b><u class="results">{{patient.name}}</u></div>
         <div class="col"> <label><b>Breed: </b><u class="results">{{patient.breed}}</u></label></div>
          
          
        </div> 
       
        </div>
        <div class="form-group">

        
          <div class="row">
            <div class="col">
              <b>BUN: </b>
             
              <input  type="text" class="form-control" (input)="BUN = $event.target.value;" placeholder="mg/dl" required>
            </div> 
            <div class="col">
              <b>Glu: </b>
              <input  type="text" class="form-control" (input)="Glu = $event.target.value;" placeholder="mg/dl" required>
            </div> 
              <div class="col">
              <b>ALP: </b>
            
              <input  type="text" class="form-control" (input)="ALP = $event.target.value;" placeholder="UI/L" required>
            </div> 
            </div>
            <div class="row">
              <div class="col">
                <b>T-Pro: </b>
               
                <input  type="text" class="form-control" (input)="Tpro = $event.target.value;" placeholder="g/dl" required>
              </div> 
              <div class="col">
                <b>GPT: </b>
                <input  type="text" class="form-control" (input)="GPT = $event.target.value;" placeholder="IU/L" required>
              </div> 
                <div class="col">
                <b>Cre2: </b>
              
                <input  type="text" class="form-control" (input)="Cre2 = $event.target.value;" placeholder="mg/dl" required>
              </div> 

    
             
            </div>



        </div>

       
            
        <div class="form-group" style="margin-top: 10px;">
          
          <label><b>Veterinarian: </b></label>
          <input class="form-control"(input)="veterinarian = $event.target.value;" required>
        </div>
           
      </div>
      
      
     
  </div>


  <div [hidden]="status != 'up'">
    <div [hidden]="status != 'up'">
    
      <ion-card *ngFor="let data of sorttest">
        <div class="ion-float-right">
          <!-- <a (click)="opendit(data)"><i class="fas fa-edit"></i></a> -->
          <a (click)="markdeletetest(data)"><i class="fas fa-trash-alt" style="color: teal;"></i></a>
        </div>
        
        <div id="mtop">
          <label>Date: {{data.date | date: 'medium'}}</label>

          <label style="display: block;"><b>Veterinarian: </b>{{data.veterinarian}}</label>
        </div>
        <div class="modal-body">					
          <div class="form-group">
           

         <div class="row bb">  
           <div class="col"><b>Patient Name: </b><u class="results">{{data.name}}</u></div>
           <div class="col"> <label><b>Breed: </b><u class="results">{{data.breed}}</u></label></div>
            
            
          </div> 
         
          </div>
          <div class="form-group">
  
          
        <div class="row">
          <div class="col">
            <b>BUN: </b><u class="results">{{data.BUN}} mg/dl</u>
           
   
          </div> 
          <div class="col">
            <b>Glu: </b><u class="results">{{data.Glu}} mg/dl</u>
    
          </div> 
            <div class="col">
            <b>ALP: </b><u class="results">{{data.ALP}} IU/L</u>
          
       
          </div> 
          </div>
          <div class="row">
            <div class="col">
              <b>T-Pro: </b><u class="results">{{data.Tpro}} g/dl</u>
             
          
            </div> 
            <div class="col">
              <b>GPT: </b><u class="results">{{data.GPT}} IU/L</u>
          
            </div> 
              <div class="col">
              <b>Cre2: </b><u class="results">{{data.Cre2}} mg/dl</u>
            
           
            </div> 
            </div>
            
      </div>

      
    </div>


      
      </ion-card>
</div>


      
  </div>
 </div>

 <div class="modal-footer">
  <input *ngIf="status == 'on'" type="button" class="btn btn-secondary" (click)="makePDF()"  value="Export">
  <input *ngIf="status == 'on'" type="button" class="btn btn-secondary" (click)="dismissModal()"  value="Cancel">
  <input *ngIf="status == 'on'" type="submit" class="btn btn-success" (click)="addbloodchem()" value="Add">
  <i class="fas fa-paw fa-2x"></i>
</div>
