.scroll {
    overflow-y: scroll;
}

.btn-success{
    background-color: teal;
}

.btn-light{
    background-color: rgb(211, 228, 228);
}

.modal-header {
    background-color: teal;
    padding: 5px;
 }

 .modal-footer {
    background-color: rgb(88, 88, 88);
    padding: 5px;
 }